:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(0, 108, 203);
  --success: rgb(88, 203, 0);
}

.btn {
  padding: 8px 20px;
  border-radius: 0px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 0px solid var(--primary);
}
.btn--secondary {
  background-color: var(--secondary);
  color: #242424;
  border: 0px solid var(--secondary);
}
.btn--success {
  background-color: var(--success);
  color: #242424;
  border: 0px solid var(--success);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  border-radius: 0px;
  transition: all 0.2s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.5s ease-out;
  background: rgb(255, 255, 255);
  color: #353535;
  transition: 250ms;
  border-color: rgb(186, 186, 186);
  border-width: 0px;
}

.hero-button:hover {
  background: #353535;
  color: rgb(255, 255, 255);
  border-color: #1a1a1a;
  border-width: 0px;
}

.btn--secondary:hover {
  background-color: rgb(0, 47, 90) !important;
  border-color: rgb(0, 37, 2) !important;
  border-width: 0px;
}
.btn--success:hover {
  background-color: rgb(0, 58, 4) !important;
  border-color: rgb(0, 37, 2) !important;
  border-width: 0px;
}

.hero-button {
  transition: all 0.2s ease-out;
}