* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.products,
.normal-page,
.screenshots,
.sign-up {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  flex-direction: column;
  align-items: flex-start;

}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: green;
  transition: all 0.2s ease-out;
}
a:hover {
  color: darkgreen;
  transition: all 0.2s ease-out;
}

.home {
  align-items: center;
  justify-content: center;
}

.about, .normal-page, .screenshots {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2c2c2c;
}

hr {
  width: 100%;

  border: 1px solid gray;
}

/* Bootstrap Style Overrides */

.accordion {
  /*--bs-accordion-btn-bg: #2c2c2c;
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-focus-border-color: white;*/
  --bs-accordion-active-color: #2c2c2c;
  --bs-accordion-active-bg: #fff;
  --bs-accordion-border-radius: 0px;
  --bs-accordion-inner-border-radius: 0px;
}

.btn-submit {
  background-color: transparent;
  color: #2c2c2c;
  padding: 8px 20px;
  border: 1px solid #2c2c2c;
  border-radius: 0px;
  transition: all 0.2s ease-out;
}

.btn-submit:hover {
  transition: all 0.5s ease-out;
  background: rgb(255, 255, 255);
  color: #2c2c2c;
  transition: 250ms;
  border-color: #bdbdbd;
}

form {
  border: 1px solid var(--primary);
  padding: 10px;
}

form textarea {
  height: 400px;
  
  resize: none;
}

form input, form textarea {
  background-color: transparent;
  border: 1px solid #2c2c2c;

  margin: 10px;
  padding: 8px 20px;
  
  outline: none;

  color: #2c2c2c;

  transition: all 0.2s ease-out;
}

form input:focus, form input:hover, form textarea:hover, form textarea:focus {
  transition: all 0.5s ease-out;
  background: rgb(255, 255, 255);
  color: #fff;
  transition: 250ms;
  border-color: #bdbdbd;
  box-sizing: border-box;

  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.contact form {
  height: calc(100% - 40%);

  display: flex;
  flex-direction: column;
}

.contact-inputs {
  display: flex;
  align-items: center;
}

.required-asterik {
  color: red;
}

.contact form {
  height: fit-content;
  
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.feature {
  color: #fff;

  height: 100vh;
}
